---
import TEnfasis from "./TEnfasis.astro"
import { Image } from "astro:assets"
interface Props {
  jobTitle: string
  companyTitle: string
  date: string
  description: string
  logo: ImageMetadata
}

const { jobTitle, companyTitle, date, description, logo } = Astro.props
---

<article
  class="grid grid-cols-3 gap-5 py-5 my-[20px]"
>
  <div class="flex items-center gap-6">
    <picture >
      <Image src={logo} alt={companyTitle} class="size-[64px] rounded-2xl overflow-hidden shadow-md"/>
    </picture>
   <div>
    <h3 class="font-bold text-xl text-balance leading-snug">{companyTitle}</h3>
    <span class="block text-zinc-600">{date}</span>
   </div>
    <!-- <span class="text-sm text-zinc-400">{date}</span> -->
  </div>
  <div class="col-start-2 col-end-4">
    <TEnfasis text={description} />
  </div>
</article>
