---
import Anchor from "@components/Anchor.astro"
import SelectLang from "@components/SelectLang.astro"
import { getLangFromUrl, useTranslations } from "@i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<style>
  @keyframes header-merge {
    to {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      background-color: white;
    }
  }
</style>
<header
  class="sticky top-0 flex justify-center z-10 animation-timeline-scroll animate-[header-merge] animation-range-e-sm"
>
  <div
    id="header"
    class="py-3 rounded-b-lg px-3 border border-transparent flex justify-between w-[900px]"
  >
    <div>
      <h1 class="text-xl">Jeegs</h1>
    </div>
    <ul class="flex gap-3 items-center text-sm">
      <li><Anchor href={`/${lang}#`}>{t("nav.home")}</Anchor></li>
      <li>
        <Anchor href={`/${lang}#experience`}>{t("nav.experience")}</Anchor>
      </li>
      <li><Anchor href={`/${lang}#showcase`}>{t("nav.showcase")}</Anchor></li>
      <li><Anchor href={`/${lang}#projects`}>{t("nav.projects")}</Anchor></li>
      <!-- <li><Anchor href={`/${lang}#experience`}>{t("nav.contact")}</Anchor></li> -->
    </ul>
    <div>
      <SelectLang />
    </div>
  </div>
</header>
